header{
    height: 100px;
    background-color: rgb(174, 245, 189);
    display:flex;
    padding:30px 
}

nav{
    height:80px;
    background-color: beige;
     display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    list-style:none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;

}
ul li{
    background-color: rgb(31, 145, 88);
    padding: 10px 20px;
    border-radius: 10px;
}
ul li a{
    text-decoration: none;
    color: rgb(247, 247, 247);
    font-family:sans-serif;
}

main{
    background-color: rgb(195, 241, 207);
    display:flex;
    padding:50px;
    gap:50px;
    
}
.section-right, .section-left {

    height:400px;
    width:50%;
    background-color:bisque;
    border-radius: 15px;
    padding: 40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
footer{
    height: 100px;
    background-color: rgb(174, 245, 192);

}